@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11 {
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110vw 110vh;

  width: 110vw;
  height: 110vh;
  will-change: transform;

  /* position: fixed;
  background-position: bottom center;
  background-size: auto 800px;
  background-repeat: repeat-x;
  width: 100%; */
}

.card1 {
  background-image: url(./../public/parallax/layer10.png);
}

.card2 {
  background-image: url(./../public/parallax/layer9.png);
  width: 100% !important;
  background-size: 100vw 100% !important;
}

.card3 {
  background-image: url(./../public/parallax/layer7.png);
}

.card4 {
  background-image: url(./../public/parallax/layer8.png);

}

.card5 {
  background-image: url(./../public/parallax/layer6.png);
}

.card6 {
  background-image: url(./../public/parallax/layer5.png);

}

.card7 {
  background-image: url(./../public/parallax/name.png);
  width: 100%;
  left: 20px;
  background-size: 100% 100%;
  background-position: center;
}

.card8 {
  background-image: url(./../public/parallax/layer4.png);
}

.card9 {
  background-image: url(./../public/parallax/layer2.png);
}

.card10 {
  background-image: url(./../public/parallax/layer3.png);

}

.card11 {
  background-image: url(./../public/parallax/layer1.png);
}

.parallax {
  width: 100%;
  height: 781px;
  left: -5vw;
  display: block;
  position: relative;
  z-index: 10;
}

.mainContain {
  position: relative;
  z-index: 98;
}

.main {
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  position: relative;

  height: 4219px;
}

.page {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}